# ignore virtual env
/env/
/auth

# ignore sample
/frontend/sample/

# ignore pycache
/backend/__pycache__/

# database
database/

# pycache
backend/python/module/__pycache__
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/

