<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Local CSS -->
    <link rel="stylesheet" href="/Users/mac/Documents/PROJET/4.0 Team/frontend/statics/css/report2.css">
    <!-- Css link --> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>

    <title>CF - Automation</title>

    <style type="text/css" media="print">
        @page { 
            size: landscape;
        }
        body { 
            writing-mode: tb-rl;
        }
    </style>
</head>
<body>
    <div class="container">
        
        <!-- PROGRAMME -->
        <div class="nav">
            <div class="armoirie">
                <div id="amoirie-img-var">
                    <img src="/Users/mac/Documents/PROJET/4.0 Team/frontend/statics/img/armoirie_CI.png" alt="armoirie">
                </div>
                <div class="nav-armoirie">
                    <div>
                        <h5>REPUBLIQUE DE COTE D'IVOIRE</h5> <h5>Ministere de l'administration du territoire et de la decentralisation</h5>
                        <h5>Ministere de l'economie et des finances</h5>
                        <h5>Ministere de l'agriculture et du developpement durable</h5>
                    </div>
                </div>
                
            </div>
            <div class="programe">
                <h5>PROGRAMME NATIONAL DE SECURISATION DU FONCIER RURAL</h5>
                <h5>Operation de certificat foncier</h5>
                <h3>Carte de certificat foncier numero <span>{{ num_certif }}</span></h3>
            </div>
            <div class="logo">
                <img src="/Users/mac/Documents/PROJET/4.0 Team/frontend/statics/img/afor.jpeg" alt="afor">
            </div>
        </div>


        <!-- BODY -->
        <div class="body">
            
            <!-- PLAN & GENERAL INFOS -->
            <div class="left">
                <div class="iterm">
                    <h4>Plan de situation</h4>
                    <div class="cadre">
                        <h1>plan</h1>
                    </div>
                    <div class="iterm-info">
                        <div class="iterm-info-1">
                            <p>Village</p>
                            <p>Parcelle Objet du CF</p>
                            <p>Route</p>

                        </div>
                        <div class="iterm-info-2">
                            <p>Chemin de fer (BNETD)</p>
                            <p>Cours d'eau (BNETD)</p>
                            <p>Foret classe (SODEFOR)</p>
                        </div>
                    </div>
                </div>

                <div class="iterm">
                    <h4>Informations generales</h4>
                    <div class="iterm-p">
                        <div class="info-generale-programme">
                            <p>Programma national de securisation fonciere</p>
                            <p>Operation de certification fonciere</p>
                        </div>
                        <div class="informations-generales">
                            <p>
                                Nom du programme : 
                                <span>{{info_programme}}</span>
                            </p>
                            <p>
                                Nom de la region : 
                                <span>{{info_region}}</span>
                            </p>
                            <p>
                                Nom du departement : 
                                <span>{{info_departement}}</span>
                            </p>
                            <p>
                                Nom de la sous-prefecture : 
                                <span>{{info_sp}}</span>
                            </p>
                            <p>
                                Nom du village : 
                                <span>{{info_village}}</span>
                            </p>
                            <p>
                                N° Dossier de demande : 
                                <span>{{info_dossier}}</span>
                            </p>
                            <p>
                                Nom du demandeur : 
                                <span>{{info_demandeur}}</span>
                            </p>
                            <p>
                                N° de CF : 
                                <span>{{info_CF}}</span>
                            </p>
                            <p>
                                N° IDUFCI : 
                                <span>{{info_idufci}}</span>
                            </p>
                            <p>
                                N° TF : 
                                <span>{{info_tf}}</span>
                            </p>
                            <p>
                                Date etablissement de carte : 
                                <span>{{info_etablissement}}</span>
                            </p>
                            <p>
                                Date edition de carte : 
                                <span>{{info_edition}}</span>
                            </p>
                        </div>
                        <div class="info-generale-operateur">
                            <p>Operateur Foncier :
                                <span> Terrabo - Etafat - CGEDS<strong></strong></span>
                            </p>
                            <p>LOGO G-TEC</p>
                            <p>DIALLO SEKOU</p>
                            <p>GEOMETRE EXPERT AGREE</p>
                        </div>
                    </div>
                </div>
            </div>



            <!-- MAP -->
            <div id="map" class="center">
            </div>



            <!-- BOUNDS TABLE -->
            <div class="right">
                <div class="iterm--1--right">
                    <h5>TABLEAU DES COORDONNEES METRIQUES DES BORNES</h5>
                    <h5>ELLIPSOIDE WGS84 FUSEAU 30</h5>
                    <h5>PROJECTION DE MERCATOR TRANSVERSE UNIVERSELLE (UTM)</h5>
                </div>
                <div class="iterm--2--right">
                    <table>
                        <tr>
                            <th>Bornes</th>
                            <th>X(m)</th>
                            <th>Y(m)</th>
                            <th>Distance(m)</th>

                        </tr>
                        <tr>
                            <td>B1</td>
                            <td>397868</td>
                            <td>397868</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B2</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B3</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B4</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B5</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B6</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B7</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B8</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B9</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B10</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>B11</td>
                            <td>397868</td>
                            <td>679880</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div> 
        </div>
    </div>

    <!-- SCRIPTS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./../../database/data/temp/field_data.js"></script> 
    <script src="./../../database/data/temp/field_bounds.js"></script> 
    <script src="./../statics/script/main.js"></script>
</body>
</html>