<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificat foncier report</title>

    <!-- Css link --> 
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <!-- Local CSS -->
    <link rel="stylesheet" href="./../statics/css/report.css">
</head>
<body>

    <!-- COVER -->
    <article id="cover">
        <!-- armoirie -->
        <div class="armoirie cover">
            <img class="armoirie-logo" src="./../statics/img/armoirie_CI.png" alt="Armoirie">
            <h1>REPUBLIQUE DE COTE D'IVOIRE</h1>
            <hr style="width:100px; margin: auto;">
        </div>

        <!-- ministere de tutelle -->
        <div class="ministere cover">
            <h2>Ministere de l'administration du territoire et de la decentralisation</h2>
            <h2>Ministere de l'economie et des finances</h2>
            <h2>Ministere de l'agriculture et du developpement durable</h2>
            <hr style="width:100px; margin: auto;">
        </div>

        <!-- projet -->
        <div class="projet cover">
            <h2>PROGRAMME NATIONAL DE SECURISATION DU FONCIER RURAL</h2>
            <h2>Operation de certificat foncier</h2>
            <h2>Carte de certificat foncier numero <span>{{ num_certif }}</span></h2>
            <hr style="width:100px; margin: auto;">
        </div>

        <!-- maitre d'ouvrage -->
        <div class="mo cover">
            <h2>MAITRE D'OUVRAGE</h2>
            <img class="afor-logo" src="./../statics/img/afor.jpeg" alt="Armoirie">
            <h2>AFOR</h2>
            <hr style="width:100px; margin: auto;">
        </div>
    </article>

    <!-- CERTIFICATE -->
    <article>
        <!-- Plan de situation -->
        <!-- Informations generales -->
        <div class="info-generale-programme">
            <p>Programma national de securisation fonciere</p>
            <p>Operation de certification fonciere</p>
        </div>
        <div class="informations-generales">
            <p>
                Nom du programme : 
                <span>{{info_programme}}</span>
            </p>
            <p>
                Nom de la region : 
                <span>{{info_region}}</span>
            </p>
            <p>
                Nom du departement : 
                <span>{{info_departement}}</span>
            </p>
            <p>
                Nom de la sous-prefecture : 
                <span>{{info_sp}}</span>
            </p>
            <p>
                Nom du village : 
                <span>{{info_village}}</span>
            </p>
            <p>
                N° Dossier de demande : 
                <span>{{info_dossier}}</span>
            </p>
            <p>
                Nom du demandeur : 
                <span>{{info_demandeur}}</span>
            </p>
            <p>
                N° de CF : 
                <span>{{info_CF}}</span>
            </p>
            <p>
                N° IDUFCI : 
                <span>{{info_idufci}}</span>
            </p>
            <p>
                N° TF : 
                <span>{{info_tf}}</span>
            </p>
            <p>
                Date etablissement de carte : 
                <span>{{info_etablissement}}</span>
            </p>
            <p>
                Date edition de carte : 
                <span>{{info_edition}}</span>
            </p>
        </div>
        <div class="info-generale-operateur">
            <p>Operateur Foncier :</p>
            <p>Terrabo - Etafat - CGEDS</p>
            <p>DIALLO SEKOU <span>GEOMETRE EXPERT AGREE</span></p>
        </div>
        <!-- carte -->
        <div id="map"></div>
    </article>

    <!-- AOI BOUNDS -->
    <article>

    </article>
    
    <!-- SCRIPTS -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./../../database/data/temp/field_data.js"></script> 
    <script src="./../../database/data/temp/field_bounds.js"></script> 
    <script src="./../statics/script/main.js"></script>
</body>
</html>